#ifndef WORKSHOP_INVOKED
#include <windows.h>
#endif

#include <owlrc.h>

#include "debug.h"

#include "id.h"
#include "helpids.h"

#include "commerr.rc"


ID_WPEAK_ICON ICON LOADONCALL MOVEABLE DISCARDABLE wpeak.ico
ID_HNU_ICON ICON LOADONCALL MOVEABLE DISCARDABLE hnu.ico


ID_ABOUTDIALOG DIALOG 45, 62, 191, 123
STYLE DS_MODALFRAME | 0x0004L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "Helv"
BEGIN
	ICON ID_HNU_ICON, -1, 9, 6, 18, 20
	CTEXT "Peak Works\nfor Windows\n\nVersion 2.1 (Communication Agent)\n\nProcess Analyzers\n(HNU Technology)\n©1999-2001", -1, 33, 25, 125, 65
	DEFPUSHBUTTON "OK", IDOK, 70, 93, 50, 14, WS_GROUP
	PUSHBUTTON "Cancel", IDCANCEL, 120, 93, 50, 14, NOT WS_VISIBLE

END


ID_PREFERENCESDIALOG DIALOG 10, 10, 415, 265
STYLE /*WS_POPUP*/ WS_OVERLAPPED | 0x0004L | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_THICKFRAME //| WS_MAXIMIZEBOX
CAPTION "wPeak Communication Agent"
FONT 8, "Helv"
BEGIN
	CONTROL "&Start", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 160, 246, 50, 14
	PUSHBUTTON "Close", IDCANCEL, 245, 246, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&About", IDHELP, 330, 246, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", IDD_PEAKLIST, "EDIT", ES_MULTILINE | ES_LEFT | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP| WS_GROUP, 3, 5, 409, 210

	CONTROL "Communications", -1, "BUTTON", BS_GROUPBOX | WS_GROUP, 2, 217, 121, 43
	LTEXT "&Port", -1, 7, 230, 81, 8
	CONTROL "", IDD_COMPORT, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 228, 72, 47
	CONTROL "Status", IDD_COM_STATUS, "STATIC", WS_BORDER, 7, 244, 112, 12
	LTEXT "&Save to File", -1, 130, 218, 53, 8
	CONTROL "", IDD_STARTUPFILE, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 130, 229, 231, 13
	PUSHBUTTON "&Browse...", IDBROWSE, 363, 229, 50, 14, WS_GROUP
	ICON ID_HNU_ICON, -1, 396, 245, 16, 16
END


