#include "mycbw.h"

STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
{
  CBW_ERR+BADBOARD           "Invalid board number specified"
  CBW_ERR+DEADDIGITALDEV     "Digital I/O device is not responding "
  CBW_ERR+DEADCOUNTERDEV     "Counter I/O device is not responding"
  CBW_ERR+DEADDADEV          "D/A is not responding"
  CBW_ERR+DEADADDEV          "A/D is not responding"
  CBW_ERR+NOTDIGITALCONF     "Specified board does not have digital I/O"
  CBW_ERR+NOTCOUNTERCONF     "Specified board does not have a counter"
  CBW_ERR+NOTDACONF          "Specified board is does not have D/A"
  CBW_ERR+NOTADCONF          "Specified board does not have A/D"
  CBW_ERR+NOTMUXCONF         "Specified board does not have thermocouple inputs"
  CBW_ERR+BADPORTNUM         "Invalid port number specified"
  CBW_ERR+BADCOUNTERDEVNUM   "Invalid counter device"
  CBW_ERR+BADDADEVNUM        "Invalid D/A device"
  CBW_ERR+BADSAMPLEMODE      "Invalid sampling mode option specified"
  CBW_ERR+BADINT             "Board configured for invalid interrupt level"
  CBW_ERR+BADADCHAN          "Invalid A/D channel Specified"
  CBW_ERR+BADCOUNT           "Invalid count specified"
  CBW_ERR+BADCNTRCONFIG      "invalid counter configuration specified"
  CBW_ERR+BADDAVAL           "Invalid D/A output value specified"
  CBW_ERR+BADDACHAN          "Invalid D/A channel specified"
  CBW_ERR+ALREADYACTIVE      "A background process is already in progress"
  CBW_ERR+PAGEOVERRUN	      "DMA transfer crossed page boundary, may have gaps in data"
  CBW_ERR+BADRATE            "Inavlid sampling rate specified"
  CBW_ERR+COMPATMODE         "Board switches set for 'compatible' mode"
  CBW_ERR+TRIGSTATE          "Incorrect intial trigger state D0 must=TTL low)"
  CBW_ERR+ADSTATUSHUNG       "A/D is not responding"
  CBW_ERR+TOOFEW             "Too few samples before trigger occurred"
  CBW_ERR+OVERRUN            "Data lost due to overrun, rate too high"
  CBW_ERR+BADRANGE           "Invalid range specified"
  CBW_ERR+NOPROGGAIN         "Board does not have programmable gain"
  CBW_ERR+BADFILENAME        "Not a legal DOS filename"
  CBW_ERR+DISKISFULL         "Couldn't complete, disk is full"
  CBW_ERR+COMPATWARN         "Board is in compatible mode, so DMA will be used"
  CBW_ERR+BADPOINTER         "Invalid pointer (NULL)"
  CBW_ERR+TOOMANYGAINS       "Too many gains"
  CBW_ERR+RATEWARNING        "Rate may be too high for interrupt I/O"
  CBW_ERR+CONVERTDMA         "CONVERTDATA cannot be used with DMA I/O"
  CBW_ERR+DTCONNECTERR       "Board doesn't have DT Connect"
  CBW_ERR+FORECONTINUOUS     "CONTINUOUS can only be used with BACKGROUND"
  CBW_ERR+BADBOARDTYPE       "This function can not be used with this board"
  CBW_ERR+WRONGDIGCONFIG     "Digital I/O is configured incorrectly"
  CBW_ERR+NOTCONFIGURABLE    "Digital port is not configurable"
  CBW_ERR+BADPORTCONFIG      "Invalid port configuration specified"
  CBW_ERR+BADFIRSTPOINT      "First point argument is not valid"
  CBW_ERR+ENDOFFILE          "Attempted to read past end of file"
  CBW_ERR+NOT8254CTR         "This board does not have an 8254 counter"
  CBW_ERR+NOT9513CTR         "This board does not have a 9513 counter"
  CBW_ERR+BADTRIGTYPE        "Invalid trigger type"
  CBW_ERR+BADTRIGVALUE       "Invalid trigger value"
  CBW_ERR+BADOPTION          "Invalid option specified for this function"
  CBW_ERR+BADPRETRIGCOUNT    "Invalid pre-trigger count sepcified"
  CBW_ERR+BADDIVIDER         "Invalid fout divider value"
  CBW_ERR+BADSOURCE          "Invalid source value "
  CBW_ERR+BADCOMPARE         "Invalid compare value"
  CBW_ERR+BADTIMEOFDAY       "Invalid time of day value"
  CBW_ERR+BADGATEINTERVAL    "Invalid gate interval value"
  CBW_ERR+BADGATECNTRL       "Invalid gate control value"
  CBW_ERR+BADCOUNTEREDGE     "Invalid counter edge value"
  CBW_ERR+BADSPCLGATE        "Invalid special gate value"
  CBW_ERR+BADRELOAD          "Invalid reload value"
  CBW_ERR+BADRECYCLEFLAG     "Invalid recycle flag value"
  CBW_ERR+BADBCDFLAG         "Invalid BCD flag value"
  CBW_ERR+BADDIRECTION       "Invalid count direction value"
  CBW_ERR+BADOUTCONTROL      "Invalid output control value"
  CBW_ERR+BADBITNUMBER       "Invalid bit number"
  CBW_ERR+NONEENABLED        "None of the counter channels are enabled"
  CBW_ERR+BADCTRCONTROL      "Element of control array not ENABLED/DISABLED"
  CBW_ERR+BADEXPCHAN         "Invalid EXP channel"
  CBW_ERR+WRONGADRANGE       "Wrong A/D range selected for cbtherm"
  CBW_ERR+OUTOFRANGE         "Temperature input is out of range"
  CBW_ERR+BADTEMPSCALE       "Invalid temperate scale"
  CBW_ERR+BADERRCODE         "Invalid error code specified"
  CBW_ERR+NOQUEUE            "Specified board does not have chan/gain queue"
  CBW_ERR+CONTINUOUSCOUNT    "CONTINUOUS can not be used with this count value"
  CBW_ERR+UNDERRUN           "D/A FIFO hit empty while doing output"
  CBW_ERR+BADMEMMODE         "Invalid memory mode specified"
  CBW_ERR+FREQOVERRUN        "Measured frequency too high for gating interval"
  CBW_ERR+NOCJCCHAN          "Board does not have CJC chan configured"
  CBW_ERR+BADCHIPNUM         "Invalid chip number used with cbC9513Init"
  CBW_ERR+DIGNOTENABLED      "Digital I/O not enabled"
  CBW_ERR+CONVERT16BITS      "CONVERT option not allowed with 16 bit A/D"
  CBW_ERR+NOMEMBOARD         "EXTMEMORY option requires memory board"
  CBW_ERR+DTACTIVE           "Memory I/O while DT Active"
  CBW_ERR+NOTMEMCONF         "Specified board is not a memory board"
  CBW_ERR+ODDCHAN            "First chan in queue can not be odd"
  CBW_ERR+CTRNOINIT          "Counter was not initialized"
  CBW_ERR+NOT8536CTR         "Specified counter is not an 8536"
  CBW_ERR+FREERUNNING        "A/D sampling is not timed"
  CBW_ERR+INTERRUPTED        "Operation interrupted with CTRL-C"
  CBW_ERR+NOSELECTORS        "Selector could not be allocated"
  CBW_ERR+NOBURSTMODE        "Burst mode is not supported on this board"
  CBW_ERR+NOTWINDOWSFUNC     "This function not available in Windows lib"
  CBW_ERR+NOTSIMULCONF       "Not configured for simultaneous update"
  CBW_ERR+EVENODDMISMATCH    "Even channel in odd slot in the queue"
  CBW_ERR+M1RATEWARNING      "DAS16/M1 sample rate too fast"
  CBW_ERR+NOTRS485           "Board is not an RS-485 board"
  CBW_ERR+NOTDOSFUNC         "This function not avaliable in DOS"
  CBW_ERR+RANGEMISMATCH      "Unipolar and Bipolar can not be used together in A/D que"
  CBW_ERR+CLOCKTOOSLOW       "Sample rate too fast for clock jumper setting"
  CBW_ERR+BADCALFACTORS      "Cal factors were out of expected range of values"
  CBW_ERR+BADCONFIGTYPE      "Invalid configuration type information requested"
  CBW_ERR+BADCONFIGITEM      "Invalid configuration item specified"
  CBW_ERR+NOPCMCIABOARD      "Can't acces PCMCIA board"
  CBW_ERR+NOBACKGROUND       "Board does not support background I/O"
  CBW_ERR+STRINGTOOSHORT     "String passed to cbGetBoardName is to short"
  CBW_ERR+CONVERTEXTMEM      "Convert data option not allowed with external memory"
  CBW_ERR+BADEUADD                "e_ToEngUnits addition error"
  CBW_ERR+DAS16JRRATEWARNING      "use 10 MHz clock for rates > 125KHz"
  CBW_ERR+DAS08TOOLOWRATE         "DAS08 rate set too low for AInScan warning"
  CBW_ERR+AMBIGSENSORONGP         "more than one sensor type defined for EXP-GP"
  CBW_ERR+NOSENSORTYPEONGP        "no sensor type defined for EXP-GP"
  CBW_ERR+NOCONVERSIONNEEDED      "12 bit board without chan tags - converted in ISR"
  CBW_ERR+NOEXTCONTINUOUS         "External memory cannot be used in CONTINUOUS mode"
  CBW_ERR+INVALIDPRETRIGCONVERT   "cbAConvertPretrigData was called after failure in cbAPretrig"
  CBW_ERR+BADCTRREG               "bad arg to CLoad for 9513"
  CBW_ERR+BADTRIGTHRESHOLD        "Invalid trigger threshold specified in cbSetTrigger"
  CBW_ERR+BADPCMSLOTREF           "No PCM card in specified slot"
  CBW_ERR+AMBIGPCMSLOTREF         "More than one MCC PCM card in slot"
  CBW_ERR+BADSENSORTYPE           "Bad sensor type selected in Instacal"
  CBW_ERR+DELBOARDNOTEXIST        "tried to delete board number which doesn't exist"
  CBW_ERR+NOBOARDNAMEFILE         "board name file not found"
  CBW_ERR+CFGFILENOTFOUND         "configuration file not found"
  CBW_ERR+NOVDDINSTALLED          "CBUL.386 device driver not installed"
  CBW_ERR+NOWINDOWSMEMORY         "No Windows memory available"
  CBW_ERR+OUTOFDOSMEMORY          "ISR data struct alloc failure"
  CBW_ERR+OBSOLETEOPTION          "Obsolete option for cbGetConfig/cbSetConfig"
  CBW_ERR+NOPCMREGKEY             "No registry entry for this PCMCIA board"
  CBW_ERR+NOCBUL32SYS             "CBUL32.SYS device driver is not loaded"
  CBW_ERR+NODMAMEMORY             "No DMA buffer available to device driver"
  CBW_ERR+IRQNOTAVAILABLE         "IRQ in being used by another device"
  CBW_ERR+NOT7266CTR              "This board does not have an LS7266 counter"
  CBW_ERR+BADQUADRATURE           "Invalid quadrature specified"
  CBW_ERR+BADCOUNTMODE            "Invalid counting mode specified"
  CBW_ERR+BADENCODING             "Invalid data encoding specified"
  CBW_ERR+BADINDEXMODE            "Invalid index mode specified"
  CBW_ERR+BADINVERTINDEX          "Invalid invert index specified"
  CBW_ERR+BADFLAGPINS             "Invalid flag pins specified"
  CBW_ERR+NOCTRSTATUS             "This board does not support cbCStatus()"
  CBW_ERR+NOGATEALLOWED           "Gating and indexing not allowed simultaneously"
  CBW_ERR+NOINDEXALLOWED          "Indexing not allowed in non-quadratue mode"
  CBW_ERR+OPENCONNECTION          "Temperature input has open connection"
  CBW_ERR+BMCONTINUOUSCOUNT       "Count must be integer multiple of packetsize for recycle mode."
  CBW_ERR+BADCALLBACKFUNC         "Invalid pointer to callback function passed as arg"
  CBW_ERR+MBUSINUSE               "MetraBus in use"
  CBW_ERR+MBUSNOCTLR              "MetraBus I/O card has no configured controller card"
  CBW_ERR+BADEVENTTYPE            "Invalid event type specified for this board."
  CBW_ERR+ALREADYENABLED          "An event handler has already been enabled for this event type"
  CBW_ERR+BADEVENTSIZE            "Invalid event count specified."
  CBW_ERR+CANTINSTALLEVENT        "Unable to install event handler"
  CBW_ERR+BADBUFFERSIZE           "Buffer is too small for operation"
  CBW_ERR+BADAIMODE               "Invalid analog input mode(RSE, NRSE, or DIFF)"
  CBW_ERR+BADSIGNAL               "Invalid signal type specified."
  CBW_ERR+BADCONNECTION           "Invalid connection specified."
  CBW_ERR+BADINDEX                "Invalid index specified, or reached end of internal connection list."
  CBW_ERR+NOCONNECTION            "No connection is assigned to specified signal."
  CBW_ERR+BADBURSTIOCOUNT         "Count cannot be greater than the FIFO size for BURSTIO mode."


/* Internal errors returned by 16 bit library */
  CBW_ERR+INTERNALERR             "200-299 Internal library error"
  CBW_ERR+CANT_LOCK_DMA_BUF       "DMA buffer could not be locked"
  CBW_ERR+DMA_IN_USE              "DMA already controlled by another VxD"
  CBW_ERR+BAD_MEM_HANDLE          "Invalid Windows memory handle"
  CBW_ERR+NO_ENHANCED_MODE        "Windows Enhance mode is not running"
  CBW_ERR+MEMBOARDPROGERROR       "Program error getting memory board source"

/* Internal errors returned by 32 bit library */
  CBW_ERR+INTERNAL32_ERR          "300-399 32 bit library internal errors"
  CBW_ERR+NO_MEMORY_FOR_BUFFER    "32 bit - default buffer allocation when no user buffer used with file"
  CBW_ERR+WIN95_CANNOT_SETUP_ISR_DATA   "32 bit - failure on INIT_ISR_DATA IOCTL call"
  CBW_ERR+WIN31_CANNOT_SETUP_ISR_DATA   "32 bit - failure on INIT_ISR_DATA IOCTL call"
  CBW_ERR+CFG_FILE_READ_FAILURE   "32 bit - error reading board configuration file"
  CBW_ERR+CFG_FILE_WRITE_FAILURE  "32 bit - error writing board configuration file"
  CBW_ERR+CREATE_BOARD_FAILURE    "32 bit - failed to create board"
  CBW_ERR+DEVELOPMENT_OPTION      "32 bit - Config Option item used in development only"
  CBW_ERR+CFGFILE_CANT_OPEN       "32 bit - cannot open configuration file."
  CBW_ERR+CFGFILE_BAD_ID          "32 bit - incorrect file id."
  CBW_ERR+CFGFILE_BAD_REV         "32 bit - incorrect file version."
  CBW_ERR+CFGFILE_NOINSERT        "CFGFILE_NOINSERT"
  CBW_ERR+CFGFILE_NOREPLACE       "CFGFILE_NOREPLACE"
  CBW_ERR+BIT_NOT_ZERO            "BIT_NOT_ZERO"
  CBW_ERR+BIT_NOT_ONE             "BIT_NOT_ONE"
  CBW_ERR+BAD_CTRL_REG            "No control register at this location."
  CBW_ERR+BAD_OUTP_REG            "No output register at this location."
  CBW_ERR+BAD_RDBK_REG            "No read back register at this location."
  CBW_ERR+NO_CTRL_REG             "No control register on this board."
  CBW_ERR+NO_OUTP_REG             "No control register on this board."
  CBW_ERR+NO_RDBK_REG             "No control register on this board."
  CBW_ERR+CTRL_REG_FAIL           "internal ctrl reg test failed."
  CBW_ERR+OUTP_REG_FAIL           "internal output reg test failed."
  CBW_ERR+RDBK_REG_FAIL           "internal read back reg test failed."
  CBW_ERR+FUNCTION_NOT_IMPLEMENTED"Function not implemented"
  CBW_ERR+BAD_RTD_CONVERSION      "Overflow in RTD calculation"
  CBW_ERR+NO_PCI_BIOS             "PCI BIOS not present in the PC"
  CBW_ERR+BAD_PCI_INDEX           "Invalid PCI board index passed to PCI BIOS"
  CBW_ERR+NO_PCI_BOARD		"Can't detact specified PCI board"
  CBW_ERR+PCI_ASSIGN_FAILED	"PCI resource assignment failed"
  CBW_ERR+PCI_NO_ADDRESS		"No PCI address returned"
  CBW_ERR+PCI_NO_IRQ		"No PCI IRQ returned"
  CBW_ERR+CANT_INIT_ISR_INFO	"IOCTL call failed on VDD_API_INIT_ISR_INFO"
  CBW_ERR+CANT_PASS_USER_BUFFER	"IOCTL call failed on VDD_API_PASS_USER_BUFFER"
  CBW_ERR+CANT_INSTALL_INT	"IOCTL call failed on VDD_API_INSTALL_INT"
  CBW_ERR+CANT_UNINSTALL_INT	"IOCTL call failed on VDD_API_UNINSTALL_INT"
  CBW_ERR+CANT_START_DMA	        "call failed on VDD_API_START_DMA"
  CBW_ERR+CANT_GET_STATUS         "call failed on VDD_API_GET_STATUS"
  CBW_ERR+CANT_GET_PRINT_PORT	"IOCTL call failed on VDD_API_GET_PRINT_PORT"
  CBW_ERR+CANT_MAP_PCM_CIS	"IOCTL call failed on VDD_API_MAP_PCM_CIS"
  CBW_ERR+CANT_GET_PCM_CFG        "IOCTL call failed on VDD_API_GET_PCM_CFG"
  CBW_ERR+CANT_GET_PCM_CCSR	"IOCTL call failed on VDD_API_GET_PCM_CCSR"
  CBW_ERR+CANT_GET_PCI_INFO	"IOCTL call failed on VDD_API_GET_PCI_INFO"

/* DOS errors are remapped by adding DOS_ERR_OFFSET to them */
  CBW_ERR+DOSBADFUNC         "DOSBADFUNC"
  CBW_ERR+DOSFILENOTFOUND    "DOSFILENOTFOUND"
  CBW_ERR+DOSPATHNOTFOUND    "DOSPATHNOTFOUND"
  CBW_ERR+DOSNOHANDLES       "DOSNOHANDLES"
  CBW_ERR+DOSACCESSDENIED    "DOSACCESSDENIED"
  CBW_ERR+DOSINVALIDHANDLE   "DOSINVALIDHANDLE"
  CBW_ERR+DOSNOMEMORY        "DOSNOMEMORY"
  CBW_ERR+DOSBADDRIVE        "DOSBADDRIVE"
  CBW_ERR+DOSTOOMANYFILES    "DOSTOOMANYFILES"
  CBW_ERR+DOSWRITEPROTECT    "DOSWRITEPROTECT"
  CBW_ERR+DOSDRIVENOTREADY   "DOSDRIVENOTREADY"
  CBW_ERR+DOSSEEKERROR       "DOSSEEKERROR"
  CBW_ERR+DOSWRITEFAULT      "DOSWRITEFAULT"
  CBW_ERR+DOSREADFAULT       "DOSREADFAULT"
  CBW_ERR+DOSGENERALFAULT    "DOSGENERALFAULT"

/* Windows internal error codes */
  CBW_ERR+WIN_CANNOT_ENABLE_INT	   "WIN_CANNOT_ENABLE_INT"
  CBW_ERR+WIN_CANNOT_DISABLE_INT	   "WIN_CANNOT_DISABLE_INT"
  CBW_ERR+WIN_CANT_PAGE_LOCK_BUFFER  "WIN_CANT_PAGE_LOCK_BUFFER"
  CBW_ERR+NO_PCM_CARD		   "NO_PCM_CARD"
}

